
<div class="row">
    <div class="com-md-8 mt-4 mx-auto">
        <div class="card">
            <div class="card-body">
                <h3 class="card-title">Contacts{{Date }}</h3>
                <table class="table  ">
                <thead class="bg-dark text-white">
                    <tr>
                        <td>Nom</td>
                        <td>Prénom</td>
                        <td>Tél</td>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let contact of Contacts;let i=index">
                        <td >{{contact.nom}}</td>
                        <td>{{contact.prenom}}</td>
                        <td>{{contact.tel}}</td>
                        <td *ngIf="contact.status=='active';else inactive">active</td>
                        <ng-template #inactive>
                            <td>en attente</td>

            
                        </ng-template>
                    </tr>  

                     <!-- <tr>
                        <td>{{Nom }}</td>
                        <td>{{Prenom}}</td>
                        <td>{{Tel}}</td>
                    </tr>  -->
                </tbody>
                </table>
            </div>
        </div>
    </div>
</div>